<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C06C779A1CD8909D0019FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C06C77B31CD8909D0019FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C06C77BE1CD8909D0019FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
